SECRET_KEY=change-me
DEBUG=True

POSTGRES_DB=videoflix
POSTGRES_USER=videoflix
POSTGRES_PASSWORD=videoflix
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

FRONTEND_URL=http://127.0.0.1:5500
